<footer class="page-footer docs-footer white">
  <div class="container">
    <div class="row center valign-wrapper">
      <div class="col s4">
        <img class="organization-logo" src="/images/ariane.png"/>
      </div>
      <div class="col s4">
        <img class="organization-logo" src="/images/epita.png"/>
      </div>
      <div class="col s4">
        <img class="organization-logo" src="/images/humanistica.png"/>
      </div>      
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container">
      <p class="center-align">© 2023, Computational Humanities Research</p>
    </div>
  </div>
</footer>
